body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.border-1-solid-999 {
  border: 1px solid #999;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: flex;
}

.float-left {
  float: left;
}

.padding-1em {
  padding: 1em;
}

.padding-05em {
  padding: 0.5em;
}
